@import "../fonts/helvetica_neue_cyr.css";

body{
  background-color: #FAFAFA;
  font-family: helvetica;
  color: #466DA6;

  @import "./header.scss";
}

a, a:visited {
  color: #466DA6;
}

#container {
  width: 1300px;
  margin: 50px;
}



main {
  display: flex;
  
  @import "./sidebar.scss";

  .content {
    margin-left: 77px;
    .header {
      font-size: 20px;

      .title {
        margin-bottom: 50px;
        font-weight: 550;
        font-size: 22px;
        letter-spacing: 0.5px;
      }

      .new {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          margin-left: 5px;
        }
      }

      .new-app-container {
        width: 620px;
        max-height: 1723px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 999;
        background-color: white;
        border: 1px solid #CED7DF;
        border-radius: 4px;
        .new-app {
          margin: 45px;
        }
      }

      ul {
        list-style: none;
        margin-bottom: 50px;
      }

      li {
        margin-right: 50px;
        display: inline;
      }

      .active {
        color: #DA867B;
      }
    }

    .filter {
      position: relative;
      margin-bottom: 40px;
      
      .filter-buttons {
        a {
          cursor: pointer;
          outline: none;
          display: inline-block;
          width: 117px;
          text-align: center; 
          font-size: 14px;
          color: #596C77; 
          padding: 5px;
          margin-top: 5px;
          background: #E0E7ED;
          border: 1px solid #CED7DF;
          box-sizing: border-box;
          border-radius: 4px;
          margin-bottom: 5px;
          img{
            width: 10px;
            
          }
        }
      }
      a:hover {
        background: #c5cbd1;
      }
      a:active {
        background: #b9bfc5;
      }

      .open-filter {
        cursor: pointer;
        outline: none;
        width: 239px;
        height: 50px;
        background: #E0E7ED;
        border: 1px solid #CED7DF;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #596C77; 
      }
      .open-filter:hover {
        background: #c5cbd1;
      }
      .open-filter:active {
        background: #b9bfc5;
      }
      .list {
        z-index: 10;
        margin-top: 20px;
        position: absolute;
        max-height: 0;
        overflow: auto;
        width: 320px;
        background: #FCFDFE;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        transition: 0.1s ease-out;
        &::-webkit-scrollbar {
          width: 15px;

        }
        &::-webkit-scrollbar-track {
          background: #FCFDFE;
          border: 1px rgba(0, 0, 0, 0.15) solid;
          border-radius: 4px;
          
        }
        &::-webkit-scrollbar-thumb {
          
          background: #E0E7ED;
          border-radius: 4px;
          border: 1px rgba(0, 0, 0, 0.15) solid;
          
        }
        ul {
          label {
            cursor: pointer;
            display: block;
            list-style: none;
            padding: 12px;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
            font-size: 14px;
            line-height: 14px;
            color: #596C77;
            li { 
              display: flex;
              justify-content: space-between;
              -webkit-user-select: none;   
              -moz-user-select: none;      
              -ms-user-select: none;   
              .checkbox {
                display: none;
              }    
              .fake-checkbox {
                width: 16px;
                height: 16px;
                background: #FCFDFE;
                border: 1px solid #9B9B9B;
                box-sizing: border-box;
                border-radius: 4px;
                position: relative;
              }
              .fake-checkbox::before {
                content: "";
                position: absolute;
                background: url(../img/check.svg) no-repeat;
                height: 10px;
                width: 10px;
                opacity: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .checkbox:checked + .fake-checkbox::before  {
                opacity: 1;
              }         
            }
          }
          label:hover {
            background: #E0E7ED;;
  
          }
        }
      }  
    }

    .app {
      margin-bottom: 20px;
      background: #FFFFFF;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 45px;
      width: 955px;
      max-height: 190px; 
      
      .title {
        font-size: 20px;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
        
        color: #466DA6;
        font-weight: 550;
        font-size: 20px;
        line-height: 16px;
      }
      .info {
        color: #596C77;
        margin-bottom: 10px;
        .id {
          font-size: 20px;
          font-weight: 550;
          font-size: 20px;
          line-height: 142%
        }
        .datetime {
          color: #777;
          font-weight: 1000;
          margin-left: 10px;
          font-size: 12px;
        }
      }
      .text {
       
        display: flex;
        font-size: 16px;
        line-height: 150%;
        color: #596C77;
        margin-bottom: 30px;
        width: 100%;
        
        div {
          margin-top: 1em;
          margin-bottom: 1em;
          margin-right: 2em;
          white-space: nowrap;
          
        }
        span {
          font-weight: 550;
          font-size: 16px;
          line-height: 150%;
          white-space: pre;
        }
      }
      

      .actions {
        display: flex; 
        position: relative;

        .submit-reject, .submit-delete, .submit-give {
          outline: none;                   
          height: 50px;
          border-radius: 4px;
          border: none;
          color: white;
          font-weight: 550;
          font-size: 16px;
          line-height: 16px;
          cursor: pointer;         
        } 
        .submit-give {
          width: 200px;
          background: #60BC87;
          &:hover {
            background: #60bc86d7;
          }
          &:active {
            background: #60bc86b4;
          }
        }
        .submit-reject {
          width: 160px;
          background: #DA7B7B;
          margin-left: 30px;
          &:hover {
            background: #da7b7bd5;
          }
          &:active { 
            background: #da7b7bb4;
          }
        }
        .submit-delete {
          width: 200px;
          background: #DA7B7B;
          margin-left: 30px;
          &:hover {
            background: #da7b7bd5;
          }
          &:active { 
            background: #da7b7bb4;
          }
        }

        .take-sure {
          font-weight: 550;
          letter-spacing: 0.5px;
          line-height: 150%;
        }
        .take-close {
          border: none;
          background: none;
          position: relative;
          
          top: -15px;
          outline: none;
          cursor: pointer;          
        }
        .take-yes {
          margin-right: 30px;
          width: 90px;
          height: 40px;
          background: #60BC87;
          border-radius: 4px;
          border: none;
          color: white;
          font-weight: 550;
          font-size: 16px;
          line-height: 16px;  
          outline: none;   
          cursor: pointer;    

          &:hover {
            background: #60bc86d7;
          }
          &:active { 
            background: #60bc86b4;
          }
        }
        .take-no {
          margin-right: 30px;
          width: 90px;
          height: 40px;
          background: #DA7B7B;
          border-radius: 4px;
          border: none;
          color: white;
          font-weight: 550;
          font-size: 16px;
          line-height: 16px;  
          outline: none;    
          cursor: pointer;  

          &:hover {
            background: #da7b7bd5;
          }
          &:active { 
            background: #da7b7bb4;
          }
        }
        
        

        .warning-container {
          z-index: 5;
          max-height: 0px;
          overflow: hidden;
          position: absolute;
          left: 230px;
          top: -180px;
          transition: 0.05s ease-out;
          background: #FCFDFE;
          border-radius: 4px;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          .warning {
            padding: 15px;
            div {
              margin: 10px 10px 20px 10px;
              
            }
            .take-close {
              left: 90px;
            }
          }
        }

        
        .reject-conf-container {
          max-height: 0px;
          overflow: hidden;
          transition: 0.05s ease-out;
          background: #FCFDFE;
          border-radius: 4px;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          position: relative;
          left: 30px;
          bottom: 70px;

          .reject-conf {
            padding: 15px;
            div {
              margin: 10px 10px 20px 10px;
            
            }
            
            .take-close {
              left: 125px;
            }
          }
        }   
      }
    }
  }
}

#pagination {
  list-style: none;
  ul {
    margin-top: 60px;
    li {
      display: inline;
      font-size: 20px;
      margin-left: 4px;
      cursor: pointer;  
    }
    .active {
      padding: 10px;
      background-color: #60BC87;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;  
    }
  }

}